/* BASE */
:root {
	--background-grey: #424242;
	--background-grey-light: #c4c4c4;
	--heading-grey: #535556;
	--heading-green: #748687;
	--active-grey: #444444;
	--lighter-grey: #e1dfdf;
	--darker-grey: #8e8e8e;
	--text-dark: #575859;
	--text-light: #ffffff;
	--heading-yellow: #fed702;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-family: sans-serif;
}

/* Utilities */
.content-wrapper {
	max-width: 95%;
	margin: 0 auto;
}

/* Pagination Container */
.pagination-container {
    margin: auto;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.page-indicator {
    font-size: 1.5rem;
    padding: 0 1rem;
}

.pagination-btn {
    cursor: pointer;
    font-size: 1.5rem;
}

/* Search Section */
.search-section {
    background-color: var(--background-grey-light);
    min-height: 50vh;
}

.search-section__form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 0;
}

.search-section__input {
    padding: 1rem;
}

.autocomplete-list {
    list-style-type: none;

}

.autocomplete-list li {
    padding: .4rem;
    cursor: pointer;
    background-color: white;
}

.autocomplete-list li:hover {
    background-color: #f4f4f4;
}

@media screen and (max-width: 800px) {
    .main-section__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-section__box {
        width: 90%;
    }
}