/* BASE */
:root {
	--background-grey: #424242;
	--background-grey-light: #c4c4c4;
	--heading-grey: #535556;
	--heading-green: #748687;
	--active-grey: #444444;
	--lighter-grey: #e1dfdf;
	--darker-grey: #8e8e8e;
	--text-dark: #575859;
	--text-light: #ffffff;
	--heading-yellow: #fed702;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-family: sans-serif;
}

/* Utilities */
.content-wrapper {
	max-width: 95%;
	margin: 0 auto;
}

/* Page Header */
.page-header {
    width: 100%;
    background-image: url('../resources/header-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-header__title {
    padding: 8rem 0;
    font-size: 4rem;
    color: var(--heading-yellow)
;}

/* Characters Section */
.characters__header {
	background-color: var(--heading-grey);
}

.characters__list-item {
	list-style-type: none;
	padding: 1.3rem;
	font-size: 1.2rem;
	cursor: pointer;
}

.characters__list-item:nth-child(odd) {
	background-color: var(--darker-grey);
	color: var(--text-light);
}

.characters__list-item:nth-child(even) {
	background-color: var(--lighter-grey);
	color: var(--text-dark);
}

.characters__list-item:hover {
	background-color: var(--active-grey);
	color: var(--text-light);
}

.characters__list-item.active {
	background-color: var(--active-grey);
	color: var(--text-light);
}

/* Joint person & home styling */
.person-info,
.home-info {
	flex: 1;
	padding: 1rem;
}

.person-info__name,
.home-info__name {
	font-size: 1.8rem;
}

.person-info__list-item,
.home-info__list-item {
	list-style-type: none;
	padding: 0.2rem 0;
	font-size: 1.5rem;
}

/* Person Info */
.person-info {
	background-color: var(--text-dark);
}

/* Home Info */
.home-info {
	background-color: var(--darker-grey);
	color: var(--text-light);
}
